:root {
  --color-text: #07043B;
  --color-text-secundary: #C2C2C2;
  --color-text-terciary: #615F7E;
  --color-button: #2F65F8;
  --white: white;
  --background-color-primary: #F8F8FE;
  --color-link: #3DA08F;
  --background-color-secundary: #575988;
  --background-color-footer: #07043B;
  --font-family-open-sans:'Open Sans', sans-serif;
  --font-family-raleway: 'Raleway', sans-serif;
  --font-weight-regular: 400;
  --font-weight-bold: 700;

}

/* Variables SASS */
